
<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="{% url 'userprofiles:profile-home' %}"><center><span class="glyphicon glyphicon-home"></span></center> </a></li>
        <li><a href="{% url 'jokes:jokecreate' %}"><span class="glyphicon glyphicon-pencil"></span>  New joke</a></li>
        <li><a href="{% url 'account_change_password' %}"><span class="glyphicon glyphicon-lock"></span>  Password</a></li>
        <li><a href="{% url 'contact:envelope-contact' %}"><span class="glyphicon glyphicon-envelope"></span>  Feedback</a></li>
        <li><a href="/jokes/jokeusers"><span class="glyphicon glyphicon-cloud"></span>  API</a></li>
        <li><a href="{% url 'userprofiles:profile-home' %}"><span class="glyphicon glyphicon-glass"></span>  Friends</a></li>
        <li><a href="{% url 'userprofiles:profile-home' %}">  </a></li>
        <li><a href="{% url 'userprofiles:profile-home' %}">  </a></li>
        <li><a href="{% url 'userprofiles:profile-home' %}">  </a></li>
        <li><a href="{% url 'userprofiles:profile-home' %}">  </a></li>
        <li><a href="{% url 'userprofiles:profile-home' %}">  </a></li>
        <li><a href="{% url 'userprofiles:profile-home' %}">  </a></li>
    </ul>
</div>
