{% load static %}
<nav id="navbar_top" class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{%url 'index' %}"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="{%url 'randomjoke'%}">Random Jokes</a></li>
                <li><a href="{%url 'peoplejoke'%}">People Jokes</a></li>
                <li><a href="{%url 'computerjoke'%}">Computer Jokes</a></li>
                <li><a href="{%url 'resources'%}">API/Resources</a></li>
                <li>
                    <form class="navbar-form nav-right" role="search" method="GET" action="{% url "jokesearch" %}">
                        <div class="form-class">
                            <input type="text" class="form-control" name="q" placeholder='Simple joke search' value="{{ request.GET.q }}">
                            <input type="submit" class="btn btn-default" value ="Go!">
                        </div>
                    </form>
                </li>
                <li>&nbsp </li>
                {% if request.user.is_authenticated %}
                    <li><a id="profile" href="/userprofiles" >{{request.user}} <span class="glyphicon glyphicon-user"></span></a></li>
                    <li><a id="logout" href="/accounts/logout" > Logout <span class="glyphicon glyphicon-log-out"></span> </a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}" ><span class="glyphicon glyphicon-user"></span> Login </a></li>
                    <li><a id="google_login" href="/accounts/google/login" >
                            <img src={% static "static/img/if_google_circle_294707.png" %} alt="Google+"  align="top" width="32" height="32"></a></a></li>
                    <li><a id="twitter_login" href="/accounts/twitter/login">
                            <img src={% static "static/img/Twitter_Social_Icon_Circle_Color.png" %} alt="Twitter"  align="top" width="32" height="32"></a></li>

                <li><a href="{% url 'account_signup' %}"><span class="glyphicon glyphicon-log-in" ></span> Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
