{% extends '__base.html' %}
{% load static %}


{% block content %}
<div id="resources">
    <div id="title">
        All jokes submitted by users are also available through  <a href="/jokes/jokeusers">API</a> (login required).<hr/>
        Some websites containing large collection of oneliners:
    </div>
    <div id="content">
        <ul>
            <li><a href="https://www.reddit.com/r/oneliners">Reddit oneliners</a></li>
            <li><a href="https://www.rd.com/jokes/one-liners">Read's Digest</a></li>
            <li><a href="http://onelinefun.com">onelinefun</a></li>
        </ul>
    </div>
</div>
{% endblock %}












