{% extends '__base.html' %}
{% load static %}
{% load ratings %}

{% block content %}
<div id="termofuse">
    <div id="title" > Term of Use (beta)</div><hr>
    <div id="terms">
        <p>JokeTwitter.com is conceived as a community to share oneliner jokes. All jokes published by us are collected from
            various online resources. Please let us know (joketwitterATgmail.com) ASAP if you find any copy right violation.</p><br/>
        <p>JokeTwitter.com welcomes both existing and original jokes from our registered users. Please specify if it is your
            original contribution to you best knowledge when publishing your jokes. Please also avoid any copy right violation.</p><br/>
        <p>JokeTwitter.com specializes in well-crafted smart oneliners that make visitors like you laugh. While it is possible to start
            a long joke zone in the future, only short jokes are accepted at this moment.</p><br/>
        <p>The admin of joketwitter.com reserve the rights to modify/remove any abusive/offensive content.</p><br/><br/>

        <p>JokeTwitter.com keeps our user information confidential and will only use user email for communications about this website.</p>
        <p>All content is intended for adults only, children under 13 should be under parental guide for using this site.</p>
    </div>
</div>
{% endblock %}
